body {
    background-color: #0A0A0A;
    color: white;
}

#navbar a { 
    color: white;  
}

#home {
    background: url("../images/dark-bg.jpg");
    background-size: 100%;
}

#about a {
    color: white;
}

#contact a {
    color: white;
}
